# Options: dev, test, prod
ENV_STATE=dev

# Only used for prod state
# DB_URL="sqlite:///./databases/provai.db"

# LangChain tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.langchain.plus
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
