# For JWT, run `openssl rand -hex 32` to generate
SECRET_KEY=""

# Options: dev, test, prod
ENV_STATE=""

# Only used for prod state
DB_URL=""

# Used for contacting support
SUPPORT_EMAIL=""

# Optional tracing
LANGSMITH_TRACING="false"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="ProVAI"
